html,body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  font-size: 16px;
  
}
#app{
  height: 100%;
  overflow: hidden;
}
::-webkit-scrollbar {
  width: 2px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  background-color: #e1e1e1;
}

/* 只在滚动时显示滚动条 */
::-webkit-scrollbar-thumb {
  visibility: hidden;
}

:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}
